<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Eva1</title>
    <link rel="stylesheet" href="{% static "css/stylesHome.css" %}">
</head>
<body>
    <h1>Listado de Postres Favoritos</h1>
    <ul>
        <li><a href="http://127.0.0.1:8000/postre1">Torta Pampodour</a>: Torta de crema y manjar</li>
        <li><a href="http://127.0.0.1:8000/postre2">Brazo de Reina</a>: Bizcocho con manjar espolvoreado de azucar flor</li>
        <li><a href="http://127.0.0.1:8000/postre3">Queque</a>: Bizcocho de molde redondo</li>
    </ul>
</body>
</html>